node_modules/
dist/
*.log
logs/
.env
config.local.json

# Keep workspace structure but ignore memory contents
workspace/memory/**
!workspace/memory/.gitkeep
config.json
config.json.bak

# workspace目录
workspace/config/
workspace/momory/
workspace/cron/*
workspace/tmp/*
# Qwen Code目录
.qwen/config/settings.json


# SKILLS部分目录
workspace/skills/cloud-resource-bill
workspace/skills/hologres-cost-analysis
workspace/skills/oss-cost-analysis
workspace/skills/apm-alert-analyzer